/* Media Queries for better off clone */

/* nav bar */

nav > i {
  font-size: 30px;
  display: none;
}

@media (max-width: 600px) {
  /* Nav icon */
  nav > i {
    display: initial;
  }

  nav > ul {
    display: none;
  }

  nav > .nav-last {
    display: none;
  }

  /* page1 */

  .page1 .container .left,
  .page1 .container .right {
    width: 100%;
    text-align: center;
    padding-top: 3%;
  }

  .crossal {
    width: 100%;
    font-size: 20rem;
    font-weight: 900;
  }

  /* Page2 */
  .page2 {
    height: auto;
  }
  .page2 > h1 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
  }

  /* Page3 */

  .page3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

 .page3 .first,.second,.three{
    margin: 0 auto;
 }

 .page3 .first > p {
    font-size: 2rem;
    font-weight: 500;
 }

 .page3 .second{
    max-width: 100%;
 }

 .page3 .second .topic{
    text-align: center;
    padding-top: 4%;
    font-size: 1.5rem;
 }

 .page3 .second .des{
    font-size: 1.4rem;
    text-align: center;
    word-spacing: 2px;
 }

 
  
}
